/*  */
.swiper-img {
  box-sizing: border-box;
  border: 4px solid transparent;
  transition: border-color .3s linear;
  -webkit-transition: border-color .3s linear;
  -moz-transition: border-color .3s linear;
  -ms-transition: border-color .3s linear;
  -o-transition: border-color .3s linear;
}
.swiper-img:hover {
  border: 4px solid #ff4081;
  transition: border-color .5s ease-out;
  -webkit-transition: border-color .5s ease-out;
  -moz-transition: border-color .5s ease-out;
  -ms-transition: border-color .5s ease-out;
  -o-transition: border-color .5s ease-out;
}

  /* / */